{% extends 'base_intro.html' %}

{% block content %}
<div class="container mt-4 form-container">
    <div class="row">
        <div class="col-md-4 board">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.title.label }}
                            {{ form.title(class="form-control") }}
                            {% for error in form.title.errors %}
                            <span class="text-danger">[{{ error }}]</span>
                            {% endfor %}
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% for board in boards %}
        <div class="col-md-4 board">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" data-board-id="{{ board['id'] }}"> {{ board['title'] }} </h5>
                    <form method="post" action="{{ url_for('tasks.tasks', username=current_user.username, board_id=board['id'], board_title=board['title']) }}">
                        {{ open_board_form.hidden_tag() }}
                        {{ open_board_form.submit() }}
                    </form>

                    <form method="post" action="{{ url_for('boards.delete_board', board_id=board['id']) }}">
                        {{ delete_board_form.hidden_tag() }}
                        {{ delete_board_form.submit() }}
                    </form>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_board.js') }}"></script>
{% endblock %}