{% extends 'base_intro.html' %}

{% block content %}
<div class="container my-3 form-container">
    <h1>{{ username }} — {{ board_title }}</h1>
    <div class="d-flex add-task-form col-md-10">
        <form method="post" action="">
            {{ add_task_form.hidden_tag() }}
            <div class="form-group d-flex">
                <div class="form-group d-flex me-2">
                    {{ add_task_form.title.label }}
                    {{ add_task_form.title(class="form-control", placeholder="Enter your task here") }}
                </div>
                <div class="form-group d-flex ">
                    {{ add_task_form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
    <div>
        <ul id="task-list" class="list-group col-md-10">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center" data-task-id="{{ task['id'] }}">
                    <div class="sort-task">{{ task['title'] }}</div>
                        <form class="" method="post", action="{{ url_for('tasks.delete_task', task_id=task['id']) }}">
                            {{ delete_task_form.hidden_tag() }}
                            {{ delete_task_form.submit() }}
                        </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/drag_and_drop_tasks.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_task.js') }}"></script>
{% endblock %}