<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Eptel – {{ title }}</title>
    {% else %}
    <title>Eptel – ToDo</title>
    {% endif %}
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Eptel</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </nav>
          </div>
        </header>

        {% block content %}{% endblock %}
  
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>